<!--DOCTYPE html -->
<html lang="pl">
    <head>
        <meta charset="utf-16" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" />
        <style>
            body { padding-top: 50px; }
            .slimmer {
                max-width: 500px;
            }
        </style>
    </head>

    <body>

        {% include "menu.html" %}
                <h1>{{ title }}</h1>
        {% block content %} {% endblock %}

    </body>




</html>
