<div class="navbar navbar-default navbar-fixed-top" id="Ttopnav">
    <div style="float:left;">
      <a class="btn btn-default navbar-btn" href="/">Home</a>
      <a class="btn btn-default navbar-btn" href="/characters">Lista Postaci</a>
      <a class="btn btn-default navbar-btn" href="/equipment">Lista Ekwipunku</a>
        {% if user.groups.all.0.name == "Player" %}
            <a class="btn btn-default navbar-btn" href="/characters/new">Nowa postać</a>
        {% endif %}
        {% if user.groups.all.0.name == "Game Master" %}
            <a class="btn btn-default navbar-btn" href="/equipment/new">Nowy ekwipunek</a>
        {% endif %}
    </div>
    <div style="float:right;">
        {% if user.is_authenticated %}
            <span>Zalogowano jako: {{ user.username }}  </span> 
            <a class="btn btn-default navbar-btn" href="/logout">Wyloguj</a>
        
        {% else %}
            <a class="btn btn-default navbar-btn" href="/login">Zaloguj</a>
            <a class="btn btn-default navbar-btn" href="/signup">Zarejestruj</a>
        {% endif %}
    </div>
</div> 